// Execution statuses
.inbox {
}

.in-progress {
}

.pause {
}

.done {
  color: var(--color-alto);
  text-decoration: line-through;
}

.btn-off {
  opacity: 0.5;
}

// Priority statuses
.low {
  border-bottom: 3px solid #53b2ff;
}

.middle {
  border-bottom: 3px solid #e3c900;
}

.high {
  border-bottom: 3px solid #ff6363;
}
