<div class="task-list">
  <ul class="task-list__box list-reset">
    <li class="task__item">
      <div class="task__item-top">
        <p class="task__item-name done">
          Сходить к парикмахеру сегод и подстричься
        </p>
      </div>
      <div class="task__item-bottom">
        <div>
          <select class="task__item-bottom-priority">
            <option value="low">Low</option>
            <option value="middle">Middle</option>
            <option value="high">High</option>
          </select>
          <select class="task__item-bottom-status">
            <option value="inbox">Inbox</option>
            <option value="In progress">In Progress</option>
            <option value="Pause">Pause</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="task__item-bottom-btn">
          <button title="Delete task" class="btn btn-delete btn-reset">
            X
          </button>
          <button title="Сomplete task" class="btn btn-done btn-reset">
            V
          </button>
        </div>
      </div>
    </li>
    <li class="task__item low">
      <div class="task__item-top">
        <p class="task__item-name">Сходить к парикмахеру сегод и подстричься</p>
      </div>
      <div class="task__item-bottom">
        <div>
          <select class="task__item-bottom-priority">
            <option value="low">Low</option>
            <option value="middle">Middle</option>
            <option value="high">High</option>
          </select>
          <select class="task__item-bottom-status">
            <option value="inbox">Inbox</option>
            <option value="In progress">In Progress</option>
            <option value="Pause">Pause</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="task__item-bottom-btn">
          <button title="Delete task" class="btn btn-delete btn-reset">
            X
          </button>
          <button title="Сomplete task" class="btn btn-done btn-reset">
            V
          </button>
        </div>
      </div>
    </li>
    <li class="task__item middle">
      <div class="task__item-top">
        <p class="task__item-name">Сходить к парикмахеру сегод и подстричься</p>
      </div>
      <div class="task__item-bottom">
        <div>
          <select class="task__item-bottom-priority">
            <option value="low">Low</option>
            <option value="middle">Middle</option>
            <option value="high">High</option>
          </select>
          <select class="task__item-bottom-status">
            <option value="inbox">Inbox</option>
            <option value="In progress">In Progress</option>
            <option value="Pause">Pause</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="task__item-bottom-btn">
          <button title="Delete task" class="btn btn-delete btn-reset">
            X
          </button>
          <button title="Сomplete task" class="btn btn-done btn-reset">
            V
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
